# Normalize line endings
* text=auto eol=lf

*.go      text
*.md      text
*.cedar   text
*.js      text
*.css     text
*.html    text
Makefile  text

# Treat these as binary
*.png     binary
*.jpg     binary
*.ico     binary

# Collapse vendored/generated noise in diffs and language stats
web/** linguist-vendored=false
